<%- include("../partials/head")%>





    <%- include("../partials/navbar")%>


        <h1>Browsing The
            <%= name %> subreddit</h1>
        <h2> Description:
            <%= description %>
        </h2>
        <h2> Total subscribers:
            <%= subscribers %>
        </h2>

        <% for (let i of posts){ %>
            <article>
                <p>
                    <%= i.title %> - <b> <%= i.author %> </b>
                </p>

                <% if(i.img) { %>

                    <img src="<%= i.img %> " alt="pictures <%= name %> ">
                    <% } %>
            </article>


            <% } %>


                <%- include("../partials/footer")%>